# Compiled #
############
target/classes/tests
lib/

# Logs #
########
*.log
log/*
!log/testspan/dummy.log


# Private classes #
###################
src/main/java
src/main/assembly

# Java class files #
####################
*.class

# Jsystem resources #
#####################
src/main/resources/scenarios
src/main/resources/sut
jsystem0.*

# report files #
################
/ixLoadReport.csv
/ixLoadConfigFile.rxf

# All hidden files and directories, except .gitignore #
#######################################################
.*
!.gitignore
!.project
/jsystem.properties
/remoteDifido.properties
/testspan.properties
